/* .contactDetails {
  font-size: 12px;
  font-weight: 500;
}

.deleteButton {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #e53e3e;
} */
