.contact {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: aquamarine;
  border-radius: 10px;
}
p {
  color: #000;
}
.button {
  padding: 8px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  border: solid 3px black;
}
