.formContainer {
  width: 100%;
  max-width: 400px;
  background: aqua;
  padding: 20px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #444;
  color: black;
  border-radius: 6px;
}

.button {
  margin-top: 10px;
  padding: 10px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  border: solid 3px black;
}

.text {
  display: flex;
  font-weight: lighter;
}
