.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.link {
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: rgb(50, 117, 205);
  padding: 12px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.link:hover {
  border: solid 3px blue;
}

.link:active {
  border: solid 3px blue;
}

.register {
  display: flex;
  align-items: center;
}
